<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.akioss.leanote"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".Leanote"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activitys.LauncherActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="cat.ereza.customactivityoncrash.activity.DefaultErrorActivity"
            android:label="@string/customactivityoncrash_error_activity_error_details_title"
            android:process=":error_activity">
            <intent-filter>
                <action android:name="cat.ereza.customactivityoncrash.ERROR"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activitys.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activitys.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".ui.activitys.NoteContentActivity">
        </activity>
    </application>

</manifest>
